/file_downloads/
/patch_data/
.env
/myenv/
test.py
/IDE_tool/explainify/.vscode
/IDE_tool/explainify/node_modules
/IDE_tool/explainify/out
/IDE_tool/explainify/.vscode-test.mjs
/IDE_tool/explainify/.vscodeignore
/IDE_tool/explainify/.vscode/**
/IDE_tool/explainify/.vscode-test/**
/IDE_tool/explainify/src/**
/IDE_tool/explainify/.gitignore
/IDE_tool/explainify/.yarnrc
/IDE_tool/explainify/vsc-extension-quickstart.md
/IDE_tool/explainify//tsconfig.json
/IDE_tool/explainify//eslint.config.mjs
/IDE_tool/explainify//*.map
/IDE_tool/explainify//*.ts
/IDE_tool/explainify//.vscode-test.*